<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_libs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mad_libs"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mad_libs_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplaySportActivity"></activity>
        <activity android:name=".DisplayHorrorActivity" />
        <activity android:name=".SportActivity" />
        <activity android:name=".DisplayFunnyActivity" />
        <activity android:name=".HorrorActivity" />
        <activity android:name=".FunnyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>